*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background: rgb(170, 203, 170);
    display: flex;
    align-items: center;
    justify-content: center;
}
#panel{
    overflow: hidden;
    width: 85%;
    height: 80%;
    background: #fff;
    border-radius: 10px;
   
}
#p-top{

    display: flex;
    width: 100%;
    height: 100px;
    background: rgb(84, 129, 84);
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 0 30%;
    
}
.elem{
    display: flex;
    gap: 20px;
    align-items: center;
    

}

.box{
  
    color: rgb(63, 152, 63);
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;

}

#pbtm{
   width: 100%;
   height:calc(100%-100px);
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: center;
   align-items: center;

   
}
.bubble{
    width: 50px;
    height: 50px;
    background-color: rgb(99, 158, 99);
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    /* transition: 0.2s ease-in-out; */
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(9, 97, 9);
}